.main {
  background-color: #f5f8fa;
  height: 100vh;
  width: 100vw;
}
.login-container {
  height: 500px;
  width: 400px;
  background-color: #e1e8ed;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}